*{
    margin: 0;
    padding: 0;
}

body{
    font: 18px 'Montserrat', sans-serif;
    transition: all .4s;
}
/******CLASSE ==> HEADER******/
.header{
    padding: 0;

    background-image: linear-gradient(270deg, white, 29%, lightgreen);
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 1px solid #000;

    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
}

.header span{
    display: flex;
}

.header a{
    display: flex;
    align-items: center;
    vertical-align: center;

    text-decoration: none;
    color: #000;
}
.header img{
    margin: auto 10px auto auto;
    height: 8vh;
}


/******CLASSE ==> CONTENT******/
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80vh;
}

/******A******/
a, a:hover{
    text-decoration: none;
    margin: 10px;
}

/******CLASSES ==> MAIN******/
.main-alunos:hover, .main-turmas:hover, .main-disciplinas:hover, .main-cursos:hover, .main-relatorios:hover{
    box-shadow: 4px 4px 10px #000;
    transition: all .4s;

}

.main-alunos, .main-turmas, .main-disciplinas, .main-cursos, .main-relatorios{
    margin: 0;
    padding: 10px;

    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 3px solid;
    border-image: linear-gradient(90deg, lightgreen, 50%, #000);
    border-image-slice: 1;

    transition: all .4s;
}

/******CLASSE ==> LOGO******/
.logo-alunos img, .logo-turmas img, .logo-disciplinas img, .logo-cursos img, .logo-relatorios img{
    width: 100px;
    height: 100px;
}

/******CLASSES ===> ALUNOS - DISCIPLINAS E RELATORIOS******/
.alunos, .turmas, .disciplinas, .cursos, .relatorios{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.alunos ul, .turmas ul, .disciplinas ul, .cursos ul{
    display: flex;
    flex-wrap: wrap;
}

/******LI******/
li{
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    border-radius: 4px;
    
    transition: all .4s;
}

li:hover{
    box-shadow: 4px 4px 10px #000;

    transition: all .4s;
}

/******CLASS => FORM******/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    /*height: 80vh;*/
}

/******HR******/
hr{
    margin: 10px;
    border: 1px solid #000;
}

/******IDS => INPUT******/
#id, #nome, #cpf, #semestre, #carga, #turma, #curso, #email, #telefone, #ano, #totalAlunos{
    margin: 0;
    padding: 8px;

    width: 300px;

    border: 1px solid #000;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: italic;

    border-radius: 4px;

    outline: 0;
}

input[type="submit"]{
    margin: 10px;
    padding: 8px;

    width: 300px;

    border: 1px solid #000;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: italic;

    border-radius: 4px;

    cursor: pointer;
    outline: 0;
}

#id:hover, #nome:hover, #cpf:hover, #semestre:hover, #turma:hover, #curso:hover, #carga:hover, #email:hover, #telefone:hover, #ano:hover, #totalAlunos:hover, input[type="submit"]:hover{
    background-color: rgb(240, 240, 240);
}

/**********CLASSES => ALERTS***********/
.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.alert-error{
    margin: 0;
    padding: 20px;
    width: max-content;

    background-color: lightcoral;
    border: 1px solid red;
    border-radius: 4px;
}

.alert-sucess{
    margin: 0;
    padding: 20px;

    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 4px;
}

/******MEDIA QUERIES******/
@media(max-width: 800px){
    .header{
        display: flex;
        flex-direction: column;
    }

}
